body{
  background:lightblue;
    }
h1 {
  color:darkblue;
  margin-left: 20px;
  font-style: italic;
   }
h2 {
  color: indianred;
   }
h3{
  color: darkyellow ;
   }
p{
  
  font-style: italic;
 }

