body{
  background;lightblue;
    }
h1 {
  color:darkblue;
  margin-left: 20px;
  font-style: italic;
   }
h2 {
  color: indianred;
   }
h3{
  color: darkyellow ;
  background-color: lightpink;
  }
p{
  background-color: lightpink;
  font-style: italic;
  font-family: inherit;
 }
ul{
  background-color: lightpink;
 }
